// about
.about {
    background: #f6f6f6;

    &__container {
        float: right;
        width: 50%;
        padding: 100px 30px 110px 30px;

        &__title {
            @include primaryFont(4.2rem, 1);
            padding-bottom: 30px;
        }

        &__text {
            padding-bottom: 30px;
        }

        &__btn {
            @include globalBtn;
        }
    }
}

// full width image
.full-width-img {
    width: 100%;
    display: block;
}

// features

.features__flex {
    display: flex;
    flex-wrap: wrap;
}

.features {
    background: #f6f6f6;
    padding: 100px 0 200px 0;

    &__container {
        display: flex;
        align-content: center;
        width: 50%;
    }
}

.features-inner-container {
    display: flex;
    flex-direction: column;

    &__title {
        @include primaryFont(3.2rem, normal);
        padding-bottom: 20px;
    }

    &__text {
        @include secondaryFont;
        max-width: 550px;
    }
}

.fas {
    background: $primaryColor;
    padding: 15px 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.features__container:nth-child(1) {
    margin-bottom: 60px;
}

// article

.articles__container {
    display: flex;
    flex-wrap: wrap;

    &__img {
        width: 50%;
        flex: 0 2 50%;
    }

    &__content {
        width: 50%;
        flex: 0 2 50%;
    }
}

.articles__container img {
    display: block;
}

.articles__container__content {
    padding: 100px 0px 100px 130px;

    &__title {
        @include primaryFont(3.2rem, normal);
        padding-bottom: 20px;
    }

    &__text {
        @include secondaryFont;
        margin-bottom: 30px;
    }

    &__btn {
        @include globalBtn;
    }

    &__btn--right {
        float: right;
    }

    &--pushed {
        padding: 0px 80px 150px 50px;
    }
}

.articles__container__img--surf,
.articles__container__img--building {
    position: relative;
}

.articles__container__img--surf img {
    position: absolute;
    top: -60px;
    width: 100%;
    box-shadow: 20px 20px 0 #68b0c1,
                -40px 20px 0 #68b0c1,
                -60px 20px 0 #68b0c1,
                -80px 20px 0 #68b0c1,
                -100px 20px 0 #68b0c1,
                -120px 20px 0 #68b0c1,
                -140px 20px 0 #68b0c1,
                -160px 20px 0 #68b0c1,
                -180px 20px 0 #68b0c1,
                -200px 20px 0 #68b0c1,
                -220px 20px 0 #68b0c1,
                -240px 20px 0 #68b0c1,
                -260px 20px 0 #68b0c1,
                -280px 20px 0 #68b0c1,
                -300px 20px 0 #68b0c1,
                -320px 20px 0 #68b0c1,
                -340px 20px 0 #68b0c1,
                -3600px 20px 0 #68b0c1,
                -380px 20px 0 #68b0c1,
                -400px 20px 0 #68b0c1;
}

.articles__container__img--building img {
    width: 100%;
    box-shadow: 20px 20px 0 $primaryColor,
                40px 20px 0 $primaryColor,
                60px 20px 0 $primaryColor,
                80px 20px 0 $primaryColor,
                100px 20px 0 $primaryColor,
                120px 20px 0 $primaryColor,
                140px 20px 0 $primaryColor,
                160px 20px 0 $primaryColor,
                180px 20px 0 $primaryColor,
                200px 20px 0 $primaryColor,
                220px 20px 0 $primaryColor,
                240px 20px 0 $primaryColor,
                260px 20px 0 $primaryColor,
                280px 20px 0 $primaryColor,
                300px 20px 0 $primaryColor,
                320px 20px 0 $primaryColor,
                340px 20px 0 $primaryColor,
                360px 20px 0 $primaryColor,
                380px 20px 0 $primaryColor,
                400px 20px 0 $primaryColor;
}

// info

.info {
    background: #f6f6f6;
    position: relative;
    top: -60px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: -20;

    &__flex {
        display: flex;
        padding: 150px 0 100px 0;
    }

    &__container__content {
        padding-left: 140px;

        &__title {
            @include primaryFont(4.2rem, normal);
        }

        &__text {
            @include secondaryFont;
            margin-bottom: 40px;
        }

        &__btn {
            @include globalBtn;
        }
    }     
}

.info__container__img img {
    box-shadow: 20px 20px 0 #227284;
    display: block;
}

// gallery

.gallery {
    &__item {
        float: left;
        width: calc((100% - 80px) / 3);
        margin: 100px 20px;
    }

    &__item:nth-child(1) {
        margin-left: 0px;
    }

    &__item:nth-child(3) {
        margin-right: 0px;
    }
}

// MEDIA QUERIES

@media(max-width: 1100px) {
    .about {
        background: #f6f6f6;
        text-align: center;

    &__container {
        float: none;
        width: 80%;
        padding: 100px 0px 110px 0px;

        &__title {
            @include primaryFont(4.2rem, 1);
            padding-bottom: 30px;
        }

        &__text {
            padding-bottom: 30px;
        }

        &__btn {
            @include globalBtn;
        }
    }
}

    .articles__container__content {
        padding: 30px 0px 80px 50px;

        &__title {
            @include primaryFont(3.2rem, normal);
            padding-bottom: 20px;
        }

        &__text {
            @include secondaryFont;
            margin-bottom: 30px;
        }

        &__btn {
            @include globalBtn;
        }

        &__btn--right {
            float: right;
        }

        &--pushed {
            padding: 0px 50px 150px 0px;
        }
    }

    .info {
        background: #f6f6f6;
        position: relative;
        top: 0px;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: -20;

    &__flex {
        display: block;
        padding: 150px 0 100px 0;
    }

    &__container__content {
        padding-left: 0px;
        text-align: center;

        &__title {
            @include primaryFont(4.2rem, normal);
            text-align: left;
        }

        &__text {
            @include secondaryFont;
            margin-bottom: 40px;
            text-align: left;
        }

        &__btn {
            @include globalBtn;
        }
    }     
}

        .info__container__img img {
            box-shadow: 20px 20px 0 #227284;
            display: block;
            float: left;
            margin-right: 50px;
            margin-bottom: 20px;
        }
}

@media (max-width: 900px) {
   .articles__container {
        display: flex;
        flex-direction: column;
        padding: 0px;
        text-align: center;

        &__img {
            width: 100%;
            flex: 1 0 100%;
        }

        &__content {
            padding: 0px 0px;
            width: 100%;
            flex: 1 0 100%;

            &__btn {
                float: none;
            }

            &--pushed {
                padding: 100px 0px 100px 0px;
            }
        }
    }

    .articles__container__img--surf {
        order: 1;
        position: relative;
        top: 0px;
    }

    .articles__container--travels {
        margin: 450px 0 100px 0;
        order: 2;
        position: relative;
    }

    .articles__container__content--pushed {
        order: 4;
    }

    .articles__container__img--building {
        order: 3;
    }

}

@media (max-width: 700px) {
    .features__flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
}

    .features {
        padding: 50px 0;

        &__container {
            display: flex;
            align-content: center;
            width: 100%;
            padding: 25px 0;
        }
    }

    .features__container:nth-child(1) {
        margin-bottom: 0px;
    }

    .features__container:nth-child(4) {
        margin-bottom: 50px;
    }

    .info {
        &__flex {
            padding: 100px 0;
        }

        &__container__content {
            padding-left: 0px;
            text-align: center;

            &__title {
                @include primaryFont(4.2rem, normal);
                text-align: center;
            }

            &__text {
                @include secondaryFont;
                margin-bottom: 40px;
                text-align: center;
            }
        }
        
    .info__container__img img {
            margin-bottom: 50px;
            width: 100%;
        }

    }

    .gallery {
        &__item {
            float: left;
            width: (100% / 2);
            margin: 0px;
        }

        &__item:nth-child(2) {
            display: none;
        }
    }

    .gallery .wrapper {
        width: 100%;
    }
}














    

