//global nav

.nav__links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}

.nav__item {
    margin: 0 2.5%;
    list-style: none;
    
    &__link {
        @include primaryFont(2rem, 29px);
    }

    &--featured {
        font-size: 4rem;
    }

}

.nav__item a:hover {
    color: #f6f6f6;
}

