article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  background: #fff; }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

h1 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15rem;
  line-height: 92px; }

h2 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4.2rem;
  line-height: 0; }

h2 {
  font-family: 'Oswald', sans-serif;
  color: #171717;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3.2rem;
  line-height: 0; }

p {
  font-family: 'Cabin', sans-serif;
  color: #171717;
  font-size: 2rem;
  line-height: 32px; }

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 80%; }

header {
  background: #b9dde7;
  height: 95vh;
  min-height: 650px; }

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 25px 0; }

.nav__item {
  margin: 0 2.5%; }
  .nav__item__link {
    font-family: 'Oswald', sans-serif;
    color: #171717;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 29px; }
  .nav__item--featured {
    font-size: 4rem; }

.nav__item a:hover {
  color: #f6f6f6; }

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header-content__img {
    margin-top: 50px;
    -webkit-box-shadow: 20px 20px 0 #fff;
    box-shadow: 20px 20px 0 #fff;
    width: 100%;
    height: 100%;
    min-width: 0; }
  .header-content__heading {
    padding: 0px 100px;
    position: relative; }

.header-container {
  background: url(../images/circle-text.png) no-repeat;
  background-position: 480px 220px;
  background-size: 200px; }

.header-container__heading {
  width: 60%;
  padding: 10px 100px;
  position: relative;
  margin-top: 320px; }

@media (max-width: 1400px) {
  header {
    height: 75vh;
    min-height: 600px; }
  h1 {
    font-family: 'Oswald', sans-serif;
    color: #171717;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 8rem;
    line-height: 92px; }
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .header-content__img {
      width: 40%;
      margin-top: 40px;
      -webkit-box-shadow: 20px 20px 0 #f6f6f6;
      box-shadow: 20px 20px 0 #f6f6f6; }
  .header-container {
    background: url(../images/circle-text.png) no-repeat;
    background-position: 310px 210px;
    background-size: 100px; }
    .header-container__heading {
      margin-top: 230px; } }

@media (max-width: 990px) {
  header {
    background: url(../images/home-image-1-resize.jpg) no-repeat center center;
    width: 100%; } }

.about {
  background: #f6f6f6; }
  .about__container {
    float: right;
    width: 50%;
    padding: 100px 30px 110px 30px; }
    .about__container__title {
      font-family: 'Oswald', sans-serif;
      color: #171717;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 4.2rem;
      line-height: 1;
      padding-bottom: 30px; }
    .about__container__text {
      padding-bottom: 30px; }
    .about__container__btn {
      font-family: 'Oswald', sans-serif;
      color: #171717;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 2rem;
      line-height: 29px;
      background: #f38d8d;
      padding: 10px 33px; }

.full-width-img {
  width: 100%;
  display: block; }

.features__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.features {
  background: #f6f6f6;
  padding: 100px 0 200px 0; }
  .features__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 50%; }

.features-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .features-inner-container__title {
    font-family: 'Oswald', sans-serif;
    color: #171717;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.2rem;
    line-height: normal;
    padding-bottom: 20px; }
  .features-inner-container__text {
    font-family: 'Cabin', sans-serif;
    color: #171717;
    font-size: 2rem;
    line-height: 32px;
    max-width: 550px; }

.fas {
  background: #b9dde7;
  padding: 15px 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px; }

.features__container:nth-child(1) {
  margin-bottom: 60px; }

.articles__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .articles__container__img {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 2 50%;
    flex: 0 2 50%; }
  .articles__container__content {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 2 50%;
    flex: 0 2 50%; }

.articles__container img {
  display: block; }

.articles__container__content {
  padding: 100px 0px 100px 130px; }
  .articles__container__content__title {
    font-family: 'Oswald', sans-serif;
    color: #171717;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.2rem;
    line-height: normal;
    padding-bottom: 20px; }
  .articles__container__content__text {
    font-family: 'Cabin', sans-serif;
    color: #171717;
    font-size: 2rem;
    line-height: 32px;
    margin-bottom: 30px; }
  .articles__container__content__btn {
    font-family: 'Oswald', sans-serif;
    color: #171717;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 29px;
    background: #f38d8d;
    padding: 10px 33px; }
  .articles__container__content__btn--right {
    float: right; }
  .articles__container__content--pushed {
    padding: 0px 80px 150px 50px; }

.articles__container__img--surf,
.articles__container__img--building {
  position: relative; }

.articles__container__img--surf img {
  position: absolute;
  top: -60px;
  width: 100%;
  -webkit-box-shadow: 20px 20px 0 #68b0c1, -40px 20px 0 #68b0c1, -60px 20px 0 #68b0c1, -80px 20px 0 #68b0c1, -100px 20px 0 #68b0c1, -120px 20px 0 #68b0c1, -140px 20px 0 #68b0c1, -160px 20px 0 #68b0c1, -180px 20px 0 #68b0c1, -200px 20px 0 #68b0c1, -220px 20px 0 #68b0c1, -240px 20px 0 #68b0c1, -260px 20px 0 #68b0c1, -280px 20px 0 #68b0c1, -300px 20px 0 #68b0c1, -320px 20px 0 #68b0c1, -340px 20px 0 #68b0c1, -3600px 20px 0 #68b0c1, -380px 20px 0 #68b0c1, -400px 20px 0 #68b0c1;
  box-shadow: 20px 20px 0 #68b0c1, -40px 20px 0 #68b0c1, -60px 20px 0 #68b0c1, -80px 20px 0 #68b0c1, -100px 20px 0 #68b0c1, -120px 20px 0 #68b0c1, -140px 20px 0 #68b0c1, -160px 20px 0 #68b0c1, -180px 20px 0 #68b0c1, -200px 20px 0 #68b0c1, -220px 20px 0 #68b0c1, -240px 20px 0 #68b0c1, -260px 20px 0 #68b0c1, -280px 20px 0 #68b0c1, -300px 20px 0 #68b0c1, -320px 20px 0 #68b0c1, -340px 20px 0 #68b0c1, -3600px 20px 0 #68b0c1, -380px 20px 0 #68b0c1, -400px 20px 0 #68b0c1; }

.articles__container__img--building img {
  width: 100%;
  -webkit-box-shadow: 20px 20px 0 #b9dde7, 40px 20px 0 #b9dde7, 60px 20px 0 #b9dde7, 80px 20px 0 #b9dde7, 100px 20px 0 #b9dde7, 120px 20px 0 #b9dde7, 140px 20px 0 #b9dde7, 160px 20px 0 #b9dde7, 180px 20px 0 #b9dde7, 200px 20px 0 #b9dde7, 220px 20px 0 #b9dde7, 240px 20px 0 #b9dde7, 260px 20px 0 #b9dde7, 280px 20px 0 #b9dde7, 300px 20px 0 #b9dde7, 320px 20px 0 #b9dde7, 340px 20px 0 #b9dde7, 360px 20px 0 #b9dde7, 380px 20px 0 #b9dde7, 400px 20px 0 #b9dde7;
  box-shadow: 20px 20px 0 #b9dde7, 40px 20px 0 #b9dde7, 60px 20px 0 #b9dde7, 80px 20px 0 #b9dde7, 100px 20px 0 #b9dde7, 120px 20px 0 #b9dde7, 140px 20px 0 #b9dde7, 160px 20px 0 #b9dde7, 180px 20px 0 #b9dde7, 200px 20px 0 #b9dde7, 220px 20px 0 #b9dde7, 240px 20px 0 #b9dde7, 260px 20px 0 #b9dde7, 280px 20px 0 #b9dde7, 300px 20px 0 #b9dde7, 320px 20px 0 #b9dde7, 340px 20px 0 #b9dde7, 360px 20px 0 #b9dde7, 380px 20px 0 #b9dde7, 400px 20px 0 #b9dde7; }

.info {
  background: #f6f6f6;
  position: relative;
  top: -60px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: -20; }
  .info__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 150px 0 100px 0; }
  .info__container__content {
    padding-left: 140px; }
    .info__container__content__title {
      font-family: 'Oswald', sans-serif;
      color: #171717;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 4.2rem;
      line-height: normal; }
    .info__container__content__text {
      font-family: 'Cabin', sans-serif;
      color: #171717;
      font-size: 2rem;
      line-height: 32px;
      margin-bottom: 40px; }
    .info__container__content__btn {
      font-family: 'Oswald', sans-serif;
      color: #171717;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 2rem;
      line-height: 29px;
      background: #f38d8d;
      padding: 10px 33px; }

.info__container__img img {
  -webkit-box-shadow: 20px 20px 0 #227284;
  box-shadow: 20px 20px 0 #227284;
  display: block; }

.gallery__item {
  float: left;
  width: calc((100% - 80px) / 3);
  margin: 100px 20px; }

.gallery__item:nth-child(1) {
  margin-left: -20px; }

.gallery__item:nth-child(3) {
  margin-right: -20px; }

.footer {
  background: #171717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .footer__copyright {
    font-family: 'Cabin', sans-serif;
    color: #171717;
    font-size: 2rem;
    line-height: 32px;
    color: #f6f6f6;
    padding: 10px 0; }

@media (max-width: 1100px) {
  .about {
    background: #f6f6f6;
    text-align: center; }
    .about__container {
      float: none;
      padding: 100px 0px 110px 0px; }
      .about__container__title {
        font-family: 'Oswald', sans-serif;
        color: #171717;
        letter-spacing: 1px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 4.2rem;
        line-height: 1;
        padding-bottom: 30px; }
      .about__container__text {
        padding-bottom: 30px; }
      .about__container__btn {
        font-family: 'Oswald', sans-serif;
        color: #171717;
        letter-spacing: 1px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 29px;
        background: #f38d8d;
        padding: 10px 33px; }
  .articles__container__content {
    padding: 30px 0px 80px 50px; }
    .articles__container__content__title {
      font-family: 'Oswald', sans-serif;
      color: #171717;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 3.2rem;
      line-height: normal;
      padding-bottom: 20px; }
    .articles__container__content__text {
      font-family: 'Cabin', sans-serif;
      color: #171717;
      font-size: 2rem;
      line-height: 32px;
      margin-bottom: 30px; }
    .articles__container__content__btn {
      font-family: 'Oswald', sans-serif;
      color: #171717;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 2rem;
      line-height: 29px;
      background: #f38d8d;
      padding: 10px 33px; }
    .articles__container__content__btn--right {
      float: right; }
    .articles__container__content--pushed {
      padding: 0px 50px 150px 0px; }
  .info {
    background: #f6f6f6;
    position: relative;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: -20; }
    .info__flex {
      display: block;
      padding: 150px 0 100px 0; }
    .info__container__content {
      padding-left: 0px;
      text-align: center; }
      .info__container__content__title {
        font-family: 'Oswald', sans-serif;
        color: #171717;
        letter-spacing: 1px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 4.2rem;
        line-height: normal;
        text-align: left; }
      .info__container__content__text {
        font-family: 'Cabin', sans-serif;
        color: #171717;
        font-size: 2rem;
        line-height: 32px;
        margin-bottom: 40px;
        text-align: left; }
      .info__container__content__btn {
        font-family: 'Oswald', sans-serif;
        color: #171717;
        letter-spacing: 1px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 29px;
        background: #f38d8d;
        padding: 10px 33px; }
  .info__container__img img {
    -webkit-box-shadow: 20px 20px 0 #227284;
    box-shadow: 20px 20px 0 #227284;
    display: block;
    float: left;
    margin-right: 50px;
    margin-bottom: 20px; } }
